$portlet-topper-bg: $brand-default;
$portlet-topper-border: $portlet-topper-bg;
$portlet-topper-color: #FFF;
$portlet-topper-link-color: #FFF;
$portlet-topper-link-hover-color: $portlet-topper-link-color;

$portlet-content-border-radius: 0 0 2px 2px;
$portlet-topper-border-radius: 4px 4px 0 0;



// Navigation Variables
$content-width: 90%;
$breakpoint: 800px;
$nav-height: 60px;
$nav-background:  #002266;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;
