@import "portlet_hello_world";

body {
	background-color: $bg-color;
}

.container-fluid-1280 .row {
	margin-left: 15px;
	margin-right: 15px;
}

#wrapper {
	padding: 0;
}


#banner {
	padding: 20px 0;
	position: relative;

	a:active, a:hover, a:focus {
		text-decoration: none;
	}

	.portlet-topper {
		z-index: 1;
	}

	.navbar-collapse {
		@include sm {
			padding-right: 4px;
		}
	}

	.navbar-toggle {
		margin: 12px 0 12px 6px;
	}

	#heading .site-name {
		color: #031900;
		font-size: 150%;
		font-weight: bold;
		margin-left: 8px;
		font-family: Arial, Helvetica, sans-serif;
		vertical-align: middle;
		@include sm {
			letter-spacing: .5px;
			margin-left: 30px;
		}
	}


	#navigationCollapse {
		@include media-query(null, $screen-xs-max) {
			font-size: 125%;
			margin-left: -15px;
			margin-right: -15px;
		}

		#navigation {
			.input-container {
				position: relative;
			}

			.portlet {
				&, .portlet-body > .navbar {
					margin-bottom: 0;
				}
			}

			li.open > a:focus {
				@include tab-focus;
			}
		}

		.navbar-blank > li {
			& > a {
				color: $solid-color;
			}

			&:hover, &.hover, &.active, .dropdown-menu .active {
				& > a {
					color: white;
					font-size: 103%;
					background-color:#135e08;
				}
			}
		}

		@include media-query(null, $screen-xs-max) {
			.nav > li {
				> a {
					border-bottom: 1px solid #E1E1E1;
				}

				&:last-child > a {
					border-bottom-width: 0;
				}
			}
		}
	}

	.navbar-form {
		@include sm {
			margin-left: 30px;
		}

		.input-text-wrapper {
			@include media-query(null, $screen-xs-max) {
				display: block;
			}
		}

		.form-control {
			background-color: transparent;
			border-bottom-width: 1px;
			border-color: #D6DCE2;
			margin-top: 2px;

			@include media-query(null, $screen-xs-max) {
				border-width: 0;
			}
		}

		.search-select {
			margin-right: 40px;
			padding-right: 20px;
		}

		.search-input {
			font-size: 16px;
			padding-right: 32px;

			@include sm {
				height: auto;
				max-width: 200px;
			}
		}

		.field-wrapper {
			position: absolute;
			right: 0;
			top: 0;

			a {
				color: $complementary-color;
			}
		}
	}

	.user-personal-bar {
		@include sm {
			position: absolute;
			right: 20px;
			top: 0;
		}

		.panel-notifications-count {
			top: 50%;

			@include transform(translateY(-50%));

			@include sm {
				right: -15px;
			}
		}

		.sign-in > a, .user-avatar-link {
			display: block;
		}

		.sign-in > a {
			line-height: 28px;
			padding: 15px 4px;
		}

		.user-avatar-image {
			display: inline-block;
			vertical-align: text-bottom;
			width: 32px;
		}

		.user-avatar-link {
			line-height: 0;
			padding: 18px 4px;

			@include sm {
				padding: 8px 0 8px 14px;
			}
		}

		.panel-notifications-count {
			@include media-query(null, $breakpoint_tablet - 1) {
				left: 2px;
				position: relative;
				top: 6px;
			}
		}

		.icon-user, .user-full-name {
			display: none;
		}
	}

	.navbar-nav {
		@include media-query(null, $screen-xs-max) {
			margin: 0 0;
		}
	}

	.lfr-nav-item .lfr-nav-child-toggle {
		line-height: 28px;
		margin-top: -14px;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		right: 4px;
		top: 50%;

		@include media-query(sm, null) {
			position: relative;
		}

		@include md {
			padding: 0 0 0 8px;

			.lexicon-icon {
				width: 8px;
			}
		}
	}

	@include sm {
		padding: 40px 0 30px;
	}
}

#content .row {
	margin-left: -15px;
	margin-right: -15px;
}

#footer {
	background-color: $solid-color;
	color: #FFF;
	margin-bottom: 60px;
	padding: 40px 20px;

	a {
		color: #FFF;
	}
}

.modify-pages .delete-tab {
	top: 22px;
}

.display-style-buttons > .dropdown > .dropdown-menu {
	&:after, &:before {
		@include media-query(null, $screen-xs-max) {
			border-width: 0;
		}
	}
}

@include media-query(null, $screen-sm-max) {
	.overlay-focused:focus {
		outline: 0;
	}
}






//Code By Naveen for navigation menu
// Navigation Variables
$content-width: 90%;
$breakpoint: 800px;
$nav-height: 35px;
$nav-background:  #002266;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

// Outer navigation wrapper
.navigation {

  height: $nav-height;
  background: $nav-background;
  width:$content-width;
}

// Logo and branding
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

// Navigation
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          font-family: Arial Unicode MS, Lucida Sans Unicode, sans-serif;
          content: '\25be';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: $breakpoint) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
